@import 'styles/variables/colors';
@import 'styles/variables/ui';

.button {
  border: none;
  cursor: pointer;
  font-weight: 600;
  user-select: none;
  text-align: center;
  display: inline-block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  background-color: var(--color-gray);
  border-radius: var(--border-radius);
  transition: background-color 200ms, opacity 200ms;
  font-family: var(--font-family__monospace), monospace;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    background-color: darken($color-gray, 5%);
  }

  &:active {
    background-color: darken($color-gray, 10%);
  }

  &.block {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &.large {
    font-size: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  &.loading:disabled {
    cursor: wait;
  }

  p + &,
  & + a, {
    margin-top: var(--spacing);
  }
}

.error {
  background-color: var(--color-red);

  &:focus,
  &:hover {
    background-color: darken($color-red, 5%);
  }

  &:active {
    background-color: darken($color-red, 10%);
  }
}

.success {
  background-color: var(--color-green);

  &:focus,
  &:hover {
    background-color: darken($color-green, 5%);
  }

  &:active {
    background-color: darken($color-green, 10%);
  }
}
