@import 'styles/variables/colors';

.checkbox {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  transition: background-color 200ms;
  border-radius: var(--border-radius);
  background-color: var(--color-silver);

  input {
    width: 3rem;
    margin-right: 0.85rem;
  }

  &, > * {
    cursor: pointer;
  }

  &:focus,
  &:hover {
    background-color: darken($color-silver, 5%);
  }

  &:active {
    background-color: darken($color-silver, 10%);
  }
}

.checkbox + p {
  margin-top: var(--spacing);
}

.group {
  .checkbox {
    padding: 0;
    cursor: auto;
    background-color: transparent;

    input {
      width: 1rem;
      margin-right: 0.5rem;
    }
  }

  .checkbox + .checkbox {
    margin-top: 0.25rem;
  }
}
