@import 'styles/variables/colors';
@import 'styles/variables/ui';
@import 'styles/variables/typography';

.fieldset, .fieldset-error {
  display: flex;
  align-items: center;

  > label, legend, .filler {
    flex: 1;
    font-weight: $font-weight__semibold;
  }

  > input, .error {
    order: 1;
  }

  > input, .error, .radio {
    flex: 2;
  }

  .error {
    z-index: 0;
    font-size: 1rem;
    color: var(--color-white);
    padding: 1rem 0.5rem 0.5rem;
    background-color: var(--color-red);
    margin-top: calc(-1 * var(--border-radius));
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    textarea + & {
      margin-top: calc(-1.25 * var(--border-radius));
    }
  }
}

.fieldset + .fieldset-error {
  margin-top: 0;
}

.fieldset {
  .radio {
    display: flex;

    .option {
      flex: 1;

      &:first-of-type label {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
      }

      &:last-of-type label {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
      }
    }

    input {
      display: none;
    }

    label {
      display: block;
      cursor: pointer;
      padding: 0.5rem;
      color: var(--color-white);
      text-align: center;
      text-transform: uppercase;
      transition: background-color 200ms;
      font-family: var(--font-family__monospace);
      background-color: lighten($color-blue, 25%);
    }

    input:focus + label,
    label:hover {
      background-color: lighten($color-blue, 10%);
    }

    input:checked + label {
      background-color: var(--color-blue);
    }
  }
}

.form {
  > * + *:not(.fieldset-error) {
    margin-top: var(--spacing);
  }

  p + & {
    margin-top: var(--spacing);
  }
}

.input {
  border: 1px solid transparent;

  &::placeholder {
    font-family: var(--font-family__monospace);
  }
}

.select {
  border: none;
  outline: none;
  padding: 0.5rem;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  font-family: var(--font-family__monospace);
  border-right: var(--border-radius) solid var(--color-blue);

  // Safari
  @media not all and (min-resolution:.001dpcm) {
    height: 2rem;
    border-right: none;
  }
}
