@import 'styles/mixins/responsive';
@import 'styles/variables/ui';
@import 'styles/variables/layout';

.grid {
  display: grid;
  grid-gap: calc(2 * var(--spacing));
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
