@import 'styles/variables/ui';
@import 'styles/variables/layout';
@import 'styles/variables/responsive';

.entry {
  justify-content: flex-start;
}

.grid {
  display: grid;
  grid-gap: var(--spacing);
  grid-template-columns: repeat(auto-fill, minmax($grid-item--four-column__width, 1fr));

  img {
    object-fit: cover;
    max-height: 14rem;
    filter: $drop-shadow;
    border-radius: var(--border-radius);
  }
}
