@import 'styles/mixins/responsive';
@import 'styles/variables/ui';

.about,
.contactInformation {
  .card {
    display: flex;
    flex-direction: column;
  }

  p {
    white-space: pre-line;
  }
}

.card {
  position: relative;
  filter: $drop-shadow;
  padding: var(--spacing);
  border-radius: var(--border-radius);
  background-color: var(--color-white);

  &.chin {
    padding-bottom: calc(3 * var(--spacing));
    margin-bottom: var(--spacing);
  }
}

.contactInformation,
.skills {
  .row {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));

    > * {
      display: flex;
      align-items: center;
    }
  }
}

.contactInformation {
  position: relative;

  form {
    margin: 0.25rem 0;

    .icon {
      margin-right: 0.5rem;
    }

    input {
      flex: 1;
    }
  }

  .coming-soon {
    margin-left: 0.5rem;
  }

  .disclaimer {
    text-align: justify;

    & + form {
      margin-top: var(--spacing);
    }
  }

  .row {
    grid-gap: var(--spacing);
  }
}

.edit {
  font-size: 1rem;
  max-height: 2.75rem;

  &.bottom {
    left: 0;
    bottom: calc(-1 * var(--border-radius));
    width: 100%;
    position: absolute;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.cancel {
    border-top-right-radius: 0;
    right: 8.5rem;
  }

  &.corner {
    position: absolute;
    top: 0;
    border-top-left-radius: 0;

    &:not(.cancel) {
      right: 0;
      border-bottom-right-radius: 0;
    }
  }

  .label {
    margin-left: 0.25rem;
    margin-right: 0.33rem;
  }
}

.error {
  font-weight: normal;
  color: var(--color-red) !important;
  background-color: transparent !important;
  font-family: var(--font-family__sans-serif);
}

.fieldset {
  flex-wrap: wrap;

  > div[class *= "error"] {
    order: 2;
    width: 100%;
  }
}

.icon {
  margin-right: 0.5rem;

  &.emoji {
    font-size: 1.5rem;
    line-height: 0.85;
    margin-left: 0.25rem;
  }
}

.modal {
  //https://stackoverflow.com/questions/17881923/box-shadow-trimmed-in-css-columns-in-chrome
  margin: -5px;

  .wrapper > * {
    //https://stackoverflow.com/questions/17881923/box-shadow-trimmed-in-css-columns-in-chrome
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  > div {
    display: flex;
    align-items: center;

    > input {
      flex: 1;
    }
  }

  > small {
    margin-top: var(--spacing);
  }

  > * + * {
    margin-top: 0.75rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  will-change: transform; // fix slow scrolling in Safari

  > * {
    margin-bottom: var(--spacing);
  }

  > .row {
    display: grid;
    grid-row-gap: calc(2 * var(--spacing));
    grid-column-gap: var(--spacing);
    grid-template-columns: 1fr;

    @include min-screen($screen-m) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

