@import 'styles/mixins/responsive';
@import 'styles/variables/ui';

.card {
  position: relative;
  filter: $drop-shadow;
  padding: var(--spacing);
  border-radius: var(--border-radius);
  background-color: var(--color-white);

  &.chin {
    padding-bottom: calc(3 * var(--spacing));
    margin-bottom: var(--spacing);
  }
}

.contact-information,
.skills {
  .row {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));

    > * {
      display: flex;
      align-items: center;
    }
  }
}

.contact-information {
  position: relative;

  form {
    margin: 0.25rem 0;

    .icon {
      margin-right: 0.5rem;
    }

    input {
      flex: 1;
    }
  }

  .coming-soon {
    margin-left: 0.5rem;
  }

  .disclaimer {
    text-align: justify;

    & + form {
      margin-top: var(--spacing);
    }
  }

  .row {
    grid-gap: var(--spacing);
  }
}

.designs {
  .grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: var(--spacing);
    grid-template-columns: 1fr;

    @include min-screen($screen-m) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .design {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);

    &.blank {
      min-height: 16rem;
      background-color: var(--color-silver);
    }
  }

  h2 {
    text-align: center;
  }

  img, video {
    width: 100%;
    height: 100%;
    outline: none;
    object-fit: cover;
    filter: $drop-shadow;
    border-radius: var(--border-radius);
  }
}

.edit {
  font-size: 1rem;
  max-height: 2.75rem;

  &.bottom {
    left: 0;
    bottom: calc(-1 * var(--border-radius));
    width: 100%;
    position: absolute;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.corner {
    position: absolute;
    top: calc(-1 * var(--border-radius));
    right: calc(-1 * var(--border-radius));
  }

  &.editing {
    background-color: var(--color-green);

    &:focus,
    &:hover {
      background-color: darken($color-green, 5%);
    }

    &:active {
      background-color: darken($color-green, 10%);
    }
  }

  .label {
    margin-left: 0.25rem;
    margin-right: 0.33rem;
  }
}

.error {
  font-weight: normal;
  color: var(--color-red) !important;
  background-color: transparent !important;
  font-family: var(--font-family__sans-serif);
}

.fieldset {
  flex-wrap: wrap;

  > div[class *= "error"] {
    order: 2;
    width: 100%;
  }
}

.icon {
  margin-right: 0.5rem;

  &.emoji {
    font-size: 1.5rem;
    line-height: 0.85;
    margin-left: 0.25rem;
  }
}

.identity {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include min-screen($screen-m) {
    flex-direction: row;
  }

  aside {
    flex: 1;

    @include max-screen($screen-m) {
      margin-top: var(--spacing);
    }
  }

  img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: var(--border-radius);

    @include min-screen($screen-m) {
      width: 10rem;

      &:not(.blank) {
        height: calc(100% - 2rem);
      }
    }
  }

  .profile-picture {
    position: relative;

    .edit {
      position: static;
      margin-top: -1rem;
    }

    > * {
      @include min-screen($screen-m) {
        margin-right: var(--spacing);
      }
    }
  }
}

.header {
  display: grid;
  grid-row-gap: calc(2 * var(--spacing));
  grid-column-gap: var(--spacing);
  grid-template-columns: 1fr;

  @include min-screen($screen-m) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.modal {
  //https://stackoverflow.com/questions/17881923/box-shadow-trimmed-in-css-columns-in-chrome
  margin: -3px;

  .wrapper > * {
    //https://stackoverflow.com/questions/17881923/box-shadow-trimmed-in-css-columns-in-chrome
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
  }
}

.placeholder {
  opacity: 0.5;
}

.rate {
  z-index: 1;
  position: absolute;
  top: calc(-1 * var(--border-radius));
  right: calc(-1 * var(--border-radius));
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  > div {
    display: flex;
    align-items: center;

    > input {
      flex: 1;
    }

    .icon {
      margin-right: 0.5rem;
    }
  }

  > small {
    margin-top: var(--spacing);
  }

  > * + * {
    margin-top: 0.75rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  will-change: transform; // fix slow scrolling in Safari

  > * {
    margin-bottom: var(--spacing);
  }
}

.unique-skills {
  text-align: center;

  h2 {
    line-height: 2.75rem;
  }

  .edit {
    position: static;
    vertical-align: top;
    margin-left: 0.5rem;
  }

  .row {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    grid-gap: var(--spacing);

    @include min-screen($screen-m) {
      grid-template: 1fr / repeat(3, 1fr);
    }
  }
}

footer.row {
  display: grid;
  grid-template: repeat(2, auto) / 1fr;
  grid-gap: var(--spacing);

  @include min-screen($screen-m) {
    grid-template: 1fr / repeat(2, 1fr);
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  p {
    white-space: pre-line;
  }
}

