@import 'styles/variables/ui';

.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.25rem;

  > input, span {
    flex-grow: 1;
  }

  > * {
    margin: 0.25rem;
  }
}

.label {
  padding: 0.5rem;
  text-align: center;
  color: var(--color-white);
  text-transform: uppercase;
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  font-family: var(--font-family__monospace);
}

.remove {
  cursor: pointer;
  font-weight: bold;
  margin-left: 1rem;
}

.small {
  padding: 0.33rem;
  font-size: 70%;
}
