$color-black: #101820;
$color-blue: #1b5faa;
$color-cream: #fcf6f5;
$color-green: #4e801f;
$color-gray: #434243;
$color-orange: #ff9e1b;
$color-purple: #004f71;
$color-red: #db487e;
$color-silver: #dfdede;
$color-white: #ffffff;
