$grid-item--four-column__width: 229px;
$grid-item__width: 292px;
$mobile-chin: 4rem;
$navigation-app__width: 16.8rem;
$navigation-height: calc((2 * var(--spacing)) + var(--logo-height));
$viewport-height: calc(var(--vh, 1vh) * 100);
