@import 'typography';

$screen-xxs: 320px;
$screen-xs: 375px;
$screen-s: 425px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1440px;

$page-margin__desktop: 3 * $font-size__root;
$page-margin__mobile: $font-size__root;
$page-width: $screen-l;
