@import 'styles/variables/ui';

.card {
  position: relative;
  filter: $drop-shadow;
  padding: var(--spacing);
  border-radius: var(--border-radius);
  background-color: var(--color-white);

  &.chin {
    padding-bottom: calc(3 * var(--spacing));
    margin-bottom: var(--spacing);
  }
}
