@import 'styles/mixins/typography';
@import 'styles/mixins/responsive';
@import 'styles/variables/layout';
@import 'styles/variables/typography';
@import 'styles/variables/ui';

$screen-mobile: $screen-m + 28px;

.beta {
  margin-left: 0.75rem;

  @include min-screen($screen-m) {
    margin-top: -4px;
    margin-bottom: -8px;
  }
}

.users {
  @include max-screen($screen-mobile) {
    flex-basis: 100%;
  }
}

.separator {
  display: none;
  height: 100%;
  margin: 0 var(--spacing);
  border-left: 1px solid var(--color-black);

  @include min-screen($screen-mobile) {
    display: inline-block;
  }
}

.vertical {
  --vertical-padding: 1rem;
  --horizontal-padding: var(--page-margin);

  top: 0;
  z-index: 2;
  position: sticky;
  filter: $drop-shadow;
  box-sizing: border-box;
  height: $navigation-height;
  background-color: var(--color-silver);
  padding: var(--vertical-padding) var(--horizontal-padding);

  @include min-screen($screen-ml) {
    --vertical-padding: 1.75rem;
    --horizontal-padding: 2rem;

    height: $viewport-height;
    width: $navigation-app__width;
  }

  .logo {
    display: flex;
    align-items: center;

    @include max-screen($screen-ml) {
      order: 1;
      margin-left: var(--spacing);
    }

    img {
      max-height: var(--logo-height);
    }
  }

  figcaption {
    font-family: var(--font-family__sans-condensed);
  }

  nav {
    display: flex;
    align-items: center;

    @include min-screen($screen-ml) {
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .links {
    @include inline-list;
    @include max-screen($screen-ml) {
      left: 0;
      box-sizing: border-box;
      height: calc(#{$viewport-height} - #{$navigation-height});
      position: absolute;
      top: $navigation-height;
      padding-left: var(--page-margin);
      padding-right: var(--page-margin);
      padding-bottom: var(--spacing);
      background-color: var(--color-silver);

      &:not(.open) {
        display: none;
      }
    }

    @include min-screen($screen-ml) {
      width: 100%;
    }

    flex: 1;
    display: flex;
    flex-direction: column;

    > a,
    > span,
    > figure {
      margin-top: var(--spacing);
      padding: 0.5rem 0;
    }
  }

  .toggle {
    @include min-screen($screen-ml) {
      display: none;
    }

    cursor: pointer;
    user-select: none;
  }
}

.horizontal {
  top: 0;
  z-index: 2;
  position: sticky;
  filter: $drop-shadow;
  background-color: var(--color-silver);
  padding: var(--spacing) var(--page-margin);

  .logo {
    display: flex;
    align-items: center;

    img {
      max-height: var(--logo-height);
    }
  }

  nav {
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    max-width: var(--page-width);
    justify-content: space-between;

    @include max-screen($screen-mobile) {
      flex-wrap: wrap;
      position: relative;
    }
  }

  figcaption {
    font-family: var(--font-family__sans-condensed);
  }

  .avatar {
    &:not(.blank) {
      margin: -1rem 0;
    }

    img {
      width: 3rem;
      max-height: 3rem;
    }
  }

  .links,
  .users {
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .links {
    @include max-screen($screen-mobile) {
      width: 100%;
      min-height: 0;
      transition: min-height 200ms;

      &:not(.open) > * {
        display: none;
      }
    }

    @include min-screen($screen-mobile) {
      .sign-up {
        margin-top: -4px;
        margin-bottom: -5px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }

    &.open {
      @include max-screen($screen-mobile) {
        margin-top: var(--spacing);
        min-height: 2rem;
      }
    }

    a + a {
      margin-left: var(--spacing);
    }
  }

  .toggle {
    @include min-screen($screen-mobile) {
      display: none;
    }

    right: 0;
    top: 1px;
    cursor: pointer;
    user-select: none;
    position: absolute;
  }

  .users {
    @include max-screen($screen-mobile) {
      margin-bottom: var(--spacing);
    }
  }
}
