@import 'styles/typography';

nav {
  top: 0;
  position: sticky;
  padding: 1.25rem 2rem;
  background-color: var(--color-silver);

  li + li {
    margin-left: 1rem;
  }

  ul {
    @extend .inline-list;

    display: flex;
    align-items: center;
  }
}

.wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: var(--page-width);
}
