li + li {
  margin-left: 1rem;
}

nav {
  top: 0;
  position: sticky;
  padding: 1.25rem 2rem;
  background-color: var(--color-silver);
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: var(--page-width);
}
