@import 'styles/mixins/responsive';
@import 'styles/variables/layout';
@import 'styles/variables/ui';

$animation-duration: 500ms;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    top: 100%;
  }
}

.close {
  cursor: pointer;
  position: absolute;
  outline: none;
  top: var(--spacing);
  right: var(--spacing);
}

.container {
  position: relative;
  z-index: 0;
}

.dialog {
  $dialog-height: calc(var(--vh, 1vh) * 90);

  left: 0;
  top: 10%;
  z-index: 4;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  height: $dialog-height;
  padding: var(--spacing);
  background: var(--color-cream);
  animation: slideIn $animation-duration;
  padding-top: calc(3 * var(--spacing));

  @include min-screen($screen-m) {
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    max-width: var(--page-width);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  > section {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @include max-screen($screen-m) {
      > *:last-child {
        margin-bottom: $mobile-chin;
      }
    }
  }
}

.overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: fixed;
  background: rgba($color-black, 0.3);
  animation: fadeIn $animation-duration;
}
