.dialog {
  display: flex;
  padding: 0.75rem;
  align-items: center;
  margin: var(--spacing) 0;
  color: var(--color-white);
  border-radius: var(--border-radius);
}

h1 + .dialog {
  margin-top: 0;
}

div .icon {
  margin-left: 0.25rem;
  margin-right: 1rem;
}

small .icon {
  margin-right: 0.25rem;
}

small.dialog {
  margin: 0.25rem 0;
  padding: 0.33rem;
}

.blank {
  color: var(--color-black);
  margin: 0;
  padding: 0;

  .icon {
    margin: 0;
  }
}

.emoji {
  line-height: 1;
  font-size: 1.75rem;
}

.error {
  background-color: var(--color-red);
}

.info, .hint {
  color: var(--color-black);
  background-color: var(--color-silver);
}

.message {
  flex: 1;
  margin: 0.25rem 0;
}

.success {
  background-color: var(--color-green);
}

.warning {
  background-color: var(--color-orange);
}
