@import 'styles/typography';

footer {
  padding: 1.25rem 2rem;
  background-color: var(--color-silver);

  ul {
    @extend .inline-list;

    display: flex;
    font-size: 0.75rem;
    align-items: center;
    justify-content: center;

    * + * {
      margin-left: 1rem;
    }
  }
}
