@import 'styles/variables/layout';
@import 'styles/mixins/responsive';
@import 'styles/mixins/typography';

.footer {
  padding-top: var(--spacing);
  background-color: var(--color-silver);

  @include max-screen($screen-m) {
    padding-bottom: $mobile-chin;
  }

  ul {
    @include inline-list;

    display: flex;
    font-size: 85%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    * + * {
      margin-left: 1rem;
    }

    > * {
      padding-bottom: var(--spacing);
    }
  }
}
