@import 'variables/colors';

:root {
  --color-black: #{$color-black};
  --color-blue: #{$color-blue};
  --color-cream: #{$color-cream};
  --color-gray: #{$color-gray};
  --color-green: #{$color-green};
  --color-orange: #{$color-orange};
  --color-red: #{$color-red};
  --color-silver: #{$color-silver};
  --color-white: #{$color-white};
}
