@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;600&display=swap');

:root {
  --font-family__sans-serif: 'IBM Plex Sans';
  --font-family__sans-condensed: 'IBM Plex Sans Condensed';
  --font-family__monospace: 'IBM Plex Mono';
}
