@import 'mixins/responsive';

:root {
  --logo-height: 18px;
  --page-margin: #{$page-margin__mobile};

  @include min-screen($screen-m) {
    --logo-height: 23px;
    --page-margin: #{$page-margin__desktop};
  }
}

.app {
  display: flex;
  flex-direction: column;
  background-color: var(--color-cream);

  @include min-screen($screen-ml) {
    flex-direction: row;
  }

  main {
    flex: 1;
    width: 100%;
    min-height: 95vh;
    box-sizing: border-box;
  }
}

body {
  margin: 0;
}

html, body {
  height: 100%;
}

iframe {
  flex: 1;
  width: 100%;
  border: none;
}

main {
  max-width: var(--page-width);
  padding: 0 var(--page-margin);
  margin: 0 auto;
}

small {
  display: inline-block;
}
