@import 'styles/mixins/typography';
@import 'styles/variables/typography';

.active {
  font-weight: $font-weight__semibold;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.hover-effect {
  transition: filter 200ms;

  &:not(.active) {
    &:active,
    &:focus,
    &:hover {
      filter: brightness(25%);
    }
  }
}

.inverted {
  color: var(--color-white) !important;

  &:active,
  &:focus,
  &:hover {
    filter: brightness(85%) !important;
  }
}

.link {
  display: inline-block;
}

.not-underlined {
  text-decoration: none;
}

span.link {
  @include anchor;
}
